@{
    ViewData["Title"] = "Home Page";
}
<html>
    <head>
        <style>
            body {
            background-image: url('/images/Students.jpg'); /*the actual path to your image */
                background-size: cover; /* Adjust as needed to control how the image scales */
                background-repeat: no-repeat;
                background-attachment: fixed; /* This can help with scrolling */
            }
        </style>
    </head>
    <body>
        <div class="text-center">
        <h1 class="display-4"><strong>Welcomes</strong></h1>
        </div>
    </body>
</html>